.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.curveOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    z-index: 2;
    pointer-events: none;
}